@mixin card_ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding: 1rem;

    li {
        min-height: 50px;

        &:first-child {
            min-height: 100px;
        }

        &:last-child {
            min-height: 30px;
        }
    }
}